.bg-container{
    background-color: rgba(189, 192, 198, 0.7);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    color: black;
    text-align: center;
}
.heading {
    padding-top: 30px !important;
    color: rgba(15, 16, 20, 0.7);
    font-weight: bold;
    font-size: 35px;
}
#box {
    background-color: white;
    height: 20%;
    width: 350px;
    text-align: center;
    display: flex;
    margin: auto;
    padding: 20px;
    margin-top: 25px;
}
.paragraph {
    font-size: small;
}
.input-field {
    padding-left: 12px !important;
    padding: 4px;
    color: grey;
    border-width: 1px;
    border-color: rgba(139, 143, 147, 0.5);
}
.buttons {
    margin-top: 10px;
}
.back-btn {
    border: 0px;
    background-color: transparent;
    color: rgb(69, 148, 182);
    text-decoration: none;
    padding-top: 5px;
}
.password-btn {
    background-color: rgb(69, 148, 182);
    color: white;
    border: 0px;
    padding: 8px;
}